<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Witaj!</title>
</head>
<body>

<h1>Witaj
    <span th:text="${name}"></span><br>
    <a href="/userinfoadd">Dodaj info</a><br>
    <a href="/insulin">Dodaj insulinę</a><br>
    <a href="/insulinlist">Lista insulin</a><br>
    <a href="/addmeasurement">Dodaj pomiar</a><br>
    <a href="/allmeasurements">Lista wszystkich pomiarów</a><br>
    <a href="/showinfo">Pokaż info</a><br>
</h1>


</body>
</html>